::ng-deep .p-tabview-nav{
    justify-content: center;
}

.during-set-table{
    margin-top:15px;
    max-width: 300px;
    text-align: center;
    margin: auto;
}

.week-table{
    text-align: center;
    max-width: 300px;
    margin:auto;
}

.week-turn{
    padding: 4px;
    font-weight: 900px;
}

.off-text{
    color: red;;
}

.on-text{
    color: green;;
}
