.during-bg{
    background: #161993;
    color: #fff;
}
.during-item{
    display: inline-block;
}
.btn-success{ margin-bottom: 15px }
.fas{ 
    font-size: 22px;
    cursor: pointer;
}
.fa-pen-square{color:#004cff}
.fa-window-close{color:red;}
.during-set-table{
    width: 350px;
    margin: auto;
}

.blue{
    color:blue;
}

.red{
    color: red;
}