[class*="col-md"]{
    padding: 0;
}

.order-title{ display: inline-block; ; margin-right: 5px}
 tr.tr-product > td{
    padding:0;
} 
.gTable th, .gTable td{
    padding: 3px;;
}
th{ min-width: 65px;}
.time-title{
    color: #979696;
    float: right;
}
.row{
    margin-right: 0; 
    margin-left: 0;
}
.product{
    background: #fdffbc;
    padding: 5px;
}
.product2{
    background: #bbbd11;
    color: #fff;
    padding: 5px;
}
/*.tr-product:hover{background: #ffee70;}*/
.tr-description{background:#f5f5f5;}
table{margin-bottom: 0}
.des-name{ width:110px;text-align: center} 
.des-quantity{ width:50px; text-align: center} 
.des-price{width:60px; text-align: center}
.des-remark{text-align: center}
.pay{width:55px;}
.is-pay{width:40px;text-align: center}
.gTable th{ text-align: center;}
.radius{border-radius: 25px}
.fa-plus-square,.fa-minus-square{ cursor: pointer;}
.alert-info{margin:auto;margin-top:5px;padding:5px;display:flex}
.badge{
    font-size: 1em;
}

.m-item{   
    padding: 0 5px;
    margin-left: 5px;
    float:right;
}
.showTable td{
    text-align: center;
}
@media screen and (max-width: 700px){
    th,td,.alert,.btn, input[type=text], ::placeholder{ font-size: 12px;}
}

@media screen and (max-width: 500px) {
    th{ min-width: 35px;}
    .col-4, .col-8{
        padding:5px 0;
    }
    .btn{
        font-size: 12px !important;
    }
    .m-item{   
        margin-left: 0px;
    }
    .des-name{ min-width:85px; width:40%; } /*商品名稱*/
    .des-ordername{min-width:55px; width:20%;}/*訂購者*/
    .des-quantity{ min-width:35px; width:9%; text-align: center} 
    .des-remark{ min-width:70px;width:30% }
    .des-price{min-width:37px; text-align: center}
    .pay{min-width:55px;}
    .is-pay{min-width:35px;width:9%;text-align: center}

    .btn-sm{ padding:3px 5px;}
    .time-title{
        font-size: 10px;
     }
     .badge{
        font-size: 75%;
    }
}

@media screen and (max-width: 350px) {
    
    .des-remark{ min-width:55px;width:35% }
    .btn-right{margin-top:5px; float: right; width:100%;}
    
}