.team-order-info-row{
    text-align: left;
    max-width: 500px;
    margin: auto;
    border: 1px solid #c7c7c8;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.create-order{
    margin-top: -15px;
    margin-left: 8px;
}

.create-team-order-table th{
    width: 110px;
    text-align: left;
}
.create-team-order-table td{
    text-align: left;
}
.b-info{
    margin-left:8px;
}